<!DOCTYPE html>
<html>
<head>
  <title>RottenMangoes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value) %>
  <% end %>
<%= yield %>


<% if current_user == nil %>
  <%= link_to "Log In", new_session_path %> | <%= link_to "Sign Up", new_user_path %>
<% elsif current_user.admin %>
    <%= render 'layouts/footer_admin' %>
    <h3><%= link_to "Admin Options", admin_users_path %></h3>
<% else current_user && !current_user.admin %>
    <%= render 'layouts/footer' %>
<% end %>    

</body>
</html>

